In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("wduckett/moneyball-mlb-stats-19622012")

print("Path to dataset files:", path)

Path to dataset files: /Users/abhiramsingireddy/.cache/kagglehub/datasets/wduckett/moneyball-mlb-stats-19622012/versions/1

In [2]:
import numpy as np
import pandas as pd
import pathlib

In [3]:
mlb_dir = pathlib.Path(r"/Users/abhiramsingireddy/.cache/kagglehub/datasets/wduckett/moneyball-mlb-stats-19622012/versions/1")
mlb_data = mlb_dir/"baseball.csv"

mlb_df = pd.read_csv(mlb_data)

## Step 1 (1 point): Create three small datasets and concatenate them into one.

1. Create a DataFrame of all rows where the Year is 2012
2. Create a DataFrame of all rows where the Year is 2011
3. Create a DataFrame of all rows where the Year is 2010
4. concatenate those into one DataFrame.
5. Use ignore_index = True to ensure that the index is consistent

In [80]:
# 1. Create a DataFrame for each year
df_2012 = mlb_df[mlb_df['Year'] == 2012]

In [81]:
# 2. Create a DataFrame of all rows where the year is 2011
df_2011 = mlb_df[mlb_df['Year'] == 2011]

In [82]:
# 3. Create a DataFrame of all rows where the year is 2012
df_2010 = mlb_df[mlb_df['Year'] == 2010]

In [83]:
#4. and #5. Concatenate them into one DataFrame and use ignore_index = True to ensure that the index is consistent
mlb_10_12 = pd.concat([df_2012, df_2011, df_2010], ignore_index=True)

In [84]:
mlb_10_12.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

## Step 2 (2 points): Find and Update the Team Codes to be more user-friendly

1. Search on the internet a dataset that has the team codes and their full name
2. Create a CSV of that data and save it for access in your Jupyter Notebook
3. read that CSV into your code
4. Merge the data created in step one with this data.  Make sure to include the full name as a column in the dataset.
    1. Make sure there aren't any duplicate columns (if applicable)
5. Identify any missing team name data and fill in accordingly

In [85]:
# 1. Search the internet of a dataset that has the team codes and their full name 
import pandas as pd
import pathlib

In [86]:
# 2. Create a CSV of that data and save it for access in your Jupyter Notebook
team_map_path = pathlib.Path("/Users/abhiramsingireddy/Documents/DCM/SFBB MLB Team Map - SFBB Team Map.csv")

In [87]:
# 3. Read that CSV into your code
team_map_df = pd.read_csv(team_map_path)

In [88]:
print(team_map_df.head())

  SFBBTEAM FDTEAM DKTEAM BBREFTEAM YAHOOTEAM FANPROSTEAM BASEBALLPRESSTEAM  \
0      ARI    ARI    ARI       ARI       ARI         ARI               ARI
1      ATL    ATL    ATL       ATL       ATL         ATL               ATL
2      BAL    BAL    BAL       BAL       BAL         BAL               BAL
3      BOS    BOS    BOS       BOS       BOS         BOS               BOS
4      CHC    CHC    CHC       CHC       CHC         CHC               CHC

  FANGRAPHSTEAM ESPNTEAM BPTEAM ROTOWIRETEAM         ROSTERRESOURCEURL  \
0  Diamondbacks      ARI    ARI          ARI  MLB-ARIZONA-DIAMONDBACKS
1        Braves      ATL    ATL          ATL        MLB-ATLANTA-BRAVES
2       Orioles      BAL    BAL          BAL     MLB-BALTIMORE-ORIOLES
3       Red Sox      BOS    BOS          BOS        MLB-BOSTON-RED-SOX
4          Cubs      CHC    CHN          CHC          MLB-CHICAGO-CUBS

  RETROSHEET FANGRAPHSABBR   FANGRAPHSRR CBSTEAM
0        ARI           ARI  diamondbacks     ARI
1        ATL           ATL        braves     ATL
2        BAL           BAL       orioles     BAL
3        BOS           BOS       red-sox     BOS
4        CHN           CHC          cubs     CHC

In [89]:
# 4. Merge the data created in step one with this data.  Make sure to include the full name as a column in the dataset.

team_codes_df = team_map_df[['SFBBTEAM', 'FANGRAPHSTEAM']].rename(
    columns={'SFBBTEAM': 'Team', 'FANGRAPHSTEAM': 'Full_Team_Name'}
)

mlb_merged = pd.merge(mlb_10_12, team_codes_df, on='Team', how='left')

In [90]:
# 4.1 Make sure there aren't any duplicate columns (if applicable)

In [91]:
mlb_merged = mlb_merged.loc[:, ~mlb_merged.columns.duplicated()]

In [92]:
# 5. Identify any missing team name data and fill in accordingly

In [93]:
missing_teams = mlb_merged[mlb_merged['Full_Team_Name'].isnull()]['Team'].unique()
print("Missing team codes:", missing_teams)

Missing team codes: ['KCR' 'SDP' 'SFG' 'TBR' 'WSN' 'FLA']

In [94]:
team_name_fixes = {
    'KCR': 'Royals',
    'SDP': 'Padres',
    'SFG': 'Giants',
    'TBR': 'Rays',          
    'WSN': 'Nationals',     
    'FLA': 'Marlins'        
}

In [95]:
mlb_merged['Full_Team_Name'] = mlb_merged.apply(lambda row: team_name_fixes.get(row['Team'], row['Full_Team_Name']),axis=1)

In [96]:
mlb_merged

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,Full_Team_Name
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,Diamondbacks
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378,Braves
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403,Orioles
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428,Red Sox
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424,Cubs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,STL,NL,2010,736,641,86,0.332,0.402,0.263,0,NaN,NaN,162,0.319,0.387,Cardinals
86,TBR,AL,2010,802,649,96,0.333,0.403,0.247,1,2.0,4.0,162,0.308,0.404,Rays
87,TEX,AL,2010,787,687,90,0.338,0.419,0.276,1,7.0,2.0,162,0.319,0.390,Rangers
88,TOR,AL,2010,755,728,85,0.312,0.454,0.248,0,NaN,NaN,162,0.326,0.405,Blue Jays
89,WSN,NL,2010,655,742,69,0.318,0.390,0.250,0,NaN,NaN,162,0.330,0.410,Nationals

## Step 3 (1 point): Create 5 bins based on the the Batting Average (BA) column

1. Save the value in a new column called "BA_bins"
2. Get the value counts for each of the bins.  Sort by the bins from lowest to highest

In [97]:
# 1. Create 5 bins based on the Batting Average (BA) column and save the value in a new column called "BA_bins"

mlb_merged['BA_bins'] = pd.cut(mlb_merged['BA'], bins=5)

In [98]:
# 2. Get the value counts for each of the bins. Sort by the bins from lowest to highest
ba_bin_counts = mlb_merged['BA_bins'].value_counts().sort_index()

ba_bin_counts

BA_bins
(0.233, 0.243]    13
(0.243, 0.253]    30
(0.253, 0.263]    25
(0.263, 0.273]    11
(0.273, 0.283]    11
Name: count, dtype: int64

## Step 4 (1 point):  Rank the teams in the highest of the 5 bins.

Print out the team, their batting average, and rank in order.  The highest batting average is ranked #1.

In [99]:
highest_bin = mlb_merged['BA_bins'].max()
top_ba_teams = mlb_merged[mlb_merged['BA_bins'] == highest_bin].copy()

In [100]:
top_ba_teams['BA_Rank'] = top_ba_teams['BA'].rank(ascending=False, method='min')

In [101]:
top_ba_teams_sorted = top_ba_teams.sort_values(by='BA_Rank')

In [102]:
print(top_ba_teams_sorted[['Team', 'BA', 'BA_Rank']])

   Team     BA  BA_Rank
57  TEX  0.283      1.0
33  BOS  0.280      2.0
39  DET  0.277      3.0
87  TEX  0.276      4.0
42  KCR  0.275      5.0
8   COL  0.274      6.0
12  LAA  0.274      6.0
72  KCR  0.274      6.0
27  TEX  0.273      9.0
55  STL  0.273      9.0
76  MIN  0.273      9.0