In [6]:
import pandas as pd

Given a column containing text with numbers, replace all digits (0-9) with #

In [7]:
df = pd.DataFrame({'col': ['abc123', 'hello42', 'no123numbers']})

In [8]:
df['col'].replace(r'\d', '#', regex=True)

0          abc###
1         hello##
2    no###numbers
Name: col, dtype: object

Remove all special characters (!@#$%^&*() etc.), keeping only letters and numbers.

In [12]:
df = pd.DataFrame({'col': ['a@b!c$', 'h@e(1)1%o', 'n^o1@2*3']})
df

         col
0     a@b!c$
1  h@e(1)1%o
2   n^o1@2*3

In [13]:
df['col'].replace(r'\W','',regex=True)

0      abc
1    he11o
2    no123
Name: col, dtype: object

Replace multiple spaces with a single space

In [15]:
df = pd.DataFrame({'col': ['hello      world', 'this is  pandas', '  too manny spaces ']})
df

                   col
0     hello      world
1      this is  pandas
2    too manny spaces

Replace Email Addresses with [EMAIL]

In [25]:
df = pd.DataFrame({'col': ['contact me at testtesttesttest@example.com', 'email: user@gmail.com', 'no emails here']})
df

                                          col
0  contact me at testtesttesttest@example.com
1                       email: user@gmail.com
2                              no emails here

In [24]:
df['col'].replace(r'\w@\w+.\w+', '[EMAIL]',regex=True)

0    contact me at testtesttestes[EMAIL]
1                      email: use[EMAIL]
2                         no emails here
Name: col, dtype: object

Replace All Vowels With *

In [20]:
df = pd.DataFrame({'col': ['apple', 'banana', 'cherry']})
df

      col
0   apple
1  banana
2  cherry

Remove All Leading and Trail Spaces