In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("imdevskp/corona-virus-report")

print("Path to dataset files:", path)

Path to dataset files: /Users/abhiramsingireddy/.cache/kagglehub/datasets/imdevskp/corona-virus-report/versions/166

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pathlib

In [14]:
covid_dir = pathlib.Path(r"/Users/abhiramsingireddy/.cache/kagglehub/datasets/imdevskp/corona-virus-report/versions/166")
covid_data = covid_dir / "covid_19_clean_complete.csv"
covid_df = pd.read_csv(covid_data)

## Question 1 (1 point):  Create a Multi-indexed DataFrame.

* Make the WHO Region the outer index and Country/Region the inner index
* Sort the index
* Save the new DataFrame as a new DataFrame

In [22]:
covid_mi = covid_df.set_index(['WHO Region', 'Country/Region'])

In [23]:
covid_mi = covid_mi.sort_index()

In [21]:
covid_mi.head()

                          Province/State      Lat    Long        Date  \
WHO Region Country/Region
Africa     Algeria                   NaN  28.0339  1.6596  2020-01-22
           Algeria                   NaN  28.0339  1.6596  2020-01-23
           Algeria                   NaN  28.0339  1.6596  2020-01-24
           Algeria                   NaN  28.0339  1.6596  2020-01-25
           Algeria                   NaN  28.0339  1.6596  2020-01-26

                           Confirmed  Deaths  Recovered  Active
WHO Region Country/Region
Africa     Algeria                 0       0          0       0
           Algeria                 0       0          0       0
           Algeria                 0       0          0       0
           Algeria                 0       0          0       0
           Algeria                 0       0          0       0

## Question 2 (2 Points): Perform the following:

1. From the original DataFrame, using an aggregation function, identify the last date in the Date column
2. create a subset of the DataFrame that is a slice based on the following:
    1. The WHO Region will be a slice of locations from the Americas to Europe
    2. The Country/Region will be a slice of locations from the US to the United Kindgom
    3. Include only the Date, Active, and Province/State Columns
3. Using the subset DataFrame created in step 2:
    1. Filter the data to only look at the last Date (as found from step 1 of this question) and 
    2. Filter to only include Province/State values that are NaN
    3. Using the 'Active' column:
       1. Rank the results - highest active case count will be Ranked 1.
       2. Ensure the rank results are sorted in ascending order

In [24]:
last_date = covid_df['Date'].max()
print("Last date in dataset:", last_date)

Last date in dataset: 2020-07-27

In [25]:
covid_mi = covid_df.set_index(['WHO Region', 'Country/Region']).sort_index()

In [27]:
subset_df = covid_mi.loc[(slice('Americas', 'Europe'), slice('US', 'United Kingdom')), ['Date', 'Active', 'Province/State']]

In [32]:
last_date = covid_df['Date'].max()

In [33]:
filtered_df = subset_df.reset_index()
filtered_df = filtered_df[(filtered_df['Date'] == last_date) & (filtered_df['Province/State'].isna())]

In [34]:
filtered_df['Rank'] = filtered_df['Active'].rank(ascending=False, method='min')

In [45]:
ranked_df = filtered_df.sort_values('Rank')

In [46]:
ranked_df.head()

,WHO Region,Country/Region,Date,Active,Province/State,Rank
187,Americas,US,2020-07-27,2816444,NaN,1.0
2627,Europe,United Kingdom,2020-07-27,254352,NaN,2.0
563,Europe,Ukraine,2020-07-27,28258,NaN,3.0
375,Eastern Mediterranean,United Arab Emirates,2020-07-27,6322,NaN,4.0

## Question 3 (1 point): Using groupby.
1. Using the original DataFrame, create a groupby that groups by the same indexes as done when creating the multi index in question 1.
2. Calculate the max and min for the Confirmed and Recovered Columns
3. Save it as its own DataFrame

In [39]:
grouped = covid_df.groupby(['WHO Region', 'Country/Region'])

In [42]:
covid_group_stats = grouped[['Confirmed', 'Recovered']].agg(['max', 'min'])

In [43]:
covid_group_stats.head()

                          Confirmed     Recovered
                                max min       max min
WHO Region Country/Region
Africa     Algeria            27973   0     18837   0
           Angola               950   0       242   0
           Benin               1770   0      1036   0
           Botswana             739   0        63   0
           Burkina Faso        1100   0       926   0

## Question 4 (1 point): More Groupby tasks.

1. Swap the locations of the indexes.  Make the inner index the outer index and vice versa.
2. Return the results (in one line of code) for the following countries: Norway, Netherlands, and Germany

In [44]:
covid_group_stats.swaplevel().loc[['Norway', 'Netherlands', 'Germany']]

                          Confirmed     Recovered
                                max min       max min
Country/Region WHO Region
Norway         Europe          9132   0      8752   0
Netherlands    Europe         53151   0       102   0
Germany        Europe        207112   0    190314   0