### Import all the necessary libraries

In [ ]:
import pandas as pd

## CSVs Assignment

#### Instructions:

Download the provided products.csv file.

Read the products.csv file into a DataFrame.

Add a new column called "Total Value", calculated as Price * Stock.

Filter out products with a Total Value below 10000.

Save the resulting DataFrame to a new file called filtered_products.csv

In [23]:
import pandas as pd

df = pd.read_csv('products.csv')
df

df["Total Value"] = df["Price"] * df["Stock"]
df

filtered_df = df[df["Total Value"] >= 10000]
filtered_df

filtered_df.to_csv("filtered_products.csv", index=False)
filtered_df.style.hide(axis="index")
filtered_df

   Product ID Product Name  Price  Stock  Total Value
0         101       Laptop   1200     10        12000

## JSON Assignment

#### Instructions:

Download the provided employees.csv file.

Read the employees.csv file into a DataFrame.

Convert the DataFrame into a JSON file called employees.json.

Read the employees.json file back into a new DataFrame.

Filter out employees with a salary below 50,000.

Save the filtered DataFrame to a new JSON file called high_salary_employees.json.

In [24]:
import pandas as pd

df = pd.read_csv('employees.csv')
df

df.to_json('employees.json', orient='records')
df

df = pd.read_json('employees.json', orient='records')
df

df = df[df["Salary"] >= 50000]
df

df.to_json('high_salary_employees.json', orient='records')
df

   Employee ID   Name Department  Salary
1            2    Bob    Finance   52000
3            4  David  Marketing   60000
4            5    Eve      Sales   55000

## Excel Assignment

#### Instructions:
Download the provided sales.xlsx file.

Read the sales.xlsx file into a DataFrame.

Calculate the total sales for each product and add a new column called Total Sales.

Convert the DataFrame into both CSV (sales_summary.csv) and JSON (sales_summary.json) files.

Read both the CSV and JSON files back into new DataFrames to confirm the data integrity.

Save the final DataFrame to a new Excel file called final_sales.xlsx.

In [25]:
import pandas as pd

df = pd.read_excel('sales.xlsx')
df

df["Total Sales"] = df["Units Sold"] * df["Unit Price"]
df

df.to_csv("sales_summary.csv", index=False) 
df.to_json("sales_summary.json", orient='records')
df

df = pd.read_csv("sales_summary.csv")
df 

df = pd.read_json("sales_summary.json", orient='records') 
df  

df.to_excel("final_sales.xlsx", index=False)
df

    Product  Units Sold  Unit Price  Total Sales
0    Laptop           5        1200         6000
1     Mouse          80          25         2000
2  Keyboard          30          45         1350
3   Monitor          12         300         3600
4   Printer          10         150         1500