In [1]:
import pandas as pd
import numpy as np

### Exercise 1: Creating Series and DataFrames

**Part 1: Create a Pandas Series from the following list:**

fruits = ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry']

Set the index to start from 1.

Name the series "Fruit Names".

In [2]:
import pandas as pd

fruits = ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry']

fruit_series = pd.Series(fruits, index=range(1, len(fruits) + 1), name="Fruit Names")

print(fruit_series)

1         Apple
2        Banana
3        Cherry
4          Date
5    Elderberry
Name: Fruit Names, dtype: object

**Part 2: Create a Pandas DataFrame using the following dictionary:**

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 
    
    'Age': [25, 30, 35, 40, 22],
    
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
    
}

Display the first three rows using .head().

In [16]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 22],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)

df.head(3)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

### Exercise 2: Modifying DataFrames

Using the DataFrame you created in Exercise 1, perform the following tasks:

Add a new column named "Score" with the following values: [85, 90, 88, 92, 87].

Drop the "City" column from the DataFrame.

Print the updated DataFrame.

Use .shape to display the number of rows and columns in the modified DataFrame.

In [53]:
import pandas as pd

df = pd.DataFrame(data)

df['Score'] = [85, 90, 88, 92, 87]

df = df.drop('City', axis = 1) # Can also use the columns argument --> df = df.drop(columns='City')

print("Updated DataFrame:")
print(df)

df.shape

Updated DataFrame:
      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     88
3    David   40     92
4      Eva   22     87

(5, 3)

### Exercise 3: DataFrame Properties and Descriptive Statistics

For the modified DataFrame from Exercise 2:

Use .columns to display the column names.

Use .index to display the index range.

Use .describe() to get the summary statistics of the numerical columns.

Use value_counts() on the "Score" column to determine how often each score appears.

In [49]:
print(df.columns)

print(df.index)

df.describe()

df["Score"].value_counts()

Index(['Name', 'Age', 'Score'], dtype='object')
RangeIndex(start=0, stop=5, step=1)

Score
85    1
90    1
88    1
92    1
87    1
Name: count, dtype: int64

### Exercise 4: Indexing and Sorting

Recreate the following DataFrame:

   Name  Age  Score
0  Alice   25     85
1    Bob   30     90
2 Charlie   35     88
3  David   40     92
4    Eva   22     87

Sort the DataFrame by the "Age" column in descending order.

Sort the DataFrame by the index in ascending order.

Select and display the row corresponding to "Charlie" using indexing.

In [64]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 22],
    'Score': [85, 90, 88, 92, 87]
}

df = pd.DataFrame(data)

df = df.sort_values(by="Age", ascending=False)

df = df.sort_index()

df.loc[df["Name"] == "Charlie"]

      Name  Age  Score
2  Charlie   35     88

### Exercise 5: DataFrame Math

Create two DataFrames using the following data:

df1 = pd.DataFrame({
    'Product': ['Laptop', 'Tablet', 'Smartphone'],
    'Price': [1000, 500, 800]
})

df2 = pd.DataFrame({
    'Product': ['Tablet', 'Smartwatch', 'Smartphone'],
    'Stock': [50, 75, 30]
})

Perform the following tasks:

Adjust the Price column on df1 to be increased by 10%

Reduce the stock column on df2 by 25

In [73]:
import pandas as pd

df1 = pd.DataFrame({
    'Product': ['Laptop', 'Tablet', 'Smartphone'],
    'Price': [1000, 500, 800]
})

df2 = pd.DataFrame({
    'Product': ['Tablet', 'Smartwatch', 'Smartphone'],
    'Stock': [50, 75, 30]
})

df1["Price"] = df1["Price"] * 1.10

df2["Stock"] = df2["Stock"] - 25

print("Updated df1:")
print(df1)

print("\nUpdated df2:")
print(df2)

Updated df1:
      Product   Price
0      Laptop  1100.0
1      Tablet   550.0
2  Smartphone   880.0

Updated df2:
      Product  Stock
0      Tablet     25
1  Smartwatch     50
2  Smartphone      5